.contact_desc {
    margin: 0.2rem 0.2rem 0;
}

.contact_head {
    display: block;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.2rem;
    margin-bottom: 0.19rem;
}

.contact_body {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.contact_body_item {
    height: 0.6rem;
    margin: 0 0.16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.contact_body_item:first-child{
    border-bottom: 1px solid #ccc;
}

.contact_body_title {
    color: rgba(153, 153, 153, 1);
    font-size: 0.12rem;
}

.contact_body_phone {
    font-size: 0.14rem;
}

.brands {
    margin: 0.2rem 0.2rem 0;
}

.brand_head {
    display: block;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.2rem;
    margin-bottom: 0.19rem;
}

.brand_body {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    height: 0.72rem;
    padding: 0 0.16rem;
    margin-bottom: 0.08rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand_body_title {
    font-size: 0.14rem;
}

.brand_img {
    width: 0.9rem;
    height: 0.35rem;
}